* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.around {
  width: 600px;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input-group-text {
  width: 150px;
}
div {
  text-align: center;
}
a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 5px;
}
.mainbtn {
  width: 100%;
}
#loginbtn {
  bottom: 0;
}

.loginbox {
  /* display: block; */
  width: 500px;
  height: 200px;
  /* display: flex-start;
  flex-direction: row;
  align-content: flex-end; */
  /* margin-top: 20%; */
  /* justify-content: center; */
  align-items: center;
}
.loginpic {
  margin-top: 10%;
  /* display: block; */
  width: 500px;
  display: flex-start;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
}
footer {
  position: absolute;
  text-align: center;
  width: 500px;
  bottom: 0;
  left: calc(50% - 250px);
  margin-bottom: 10%;
}
