* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  min-width: 600px;
  min-height: 800px;
}
footer {
  margin-bottom: 5%;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: calc(50% - 250px);
  width: 100%;
}
#mainbtn {
  width: 100%;
  height: 100%;
}
.input-group-text {
  width: 150px;
}
div {
  text-align: center;
}
a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 5px;
}

.loginbox {
  display: block;
  width: 500px;
  display: flex-start;
  flex-direction: row;
  align-content: flex-end;
  /* margin-top: 20%; */
  /* justify-content: center; */
  align-items: center;
}
img {
  margin-top: 10%;
  display: block;
  max-width: 500px;
  display: flex-start;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
}
