* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
}
#mainbtn {
  width: 100%;
  height: 100%;
}
.input-group-text {
  width: 150px;
}
div {
  text-align: center;
}
.btn {
  border: none;
  border-radius: 5px;
}
.btn:hover {
  transition-property: all;
  /* transition-duration: 0.5s; */
  transition-timing-function: cubic-bezier(0.5, 5, 5, 0.5);
  /* -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #aaa;
  font-size: 3em;
  margin-top: 20px; */
}
.user-name {
  display: table;
  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url(/test_gif.gif);
  text-shadow: -2px 0 #f2f1f6, 0 2px #f2f1f6, 2px 0 #f2f1f6, 0 -2px #f2f1f6;
  /* float: inline-start; */
}
.user-cell {
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  min-width: 800px;
}
.content {
  width: 100%;
}
.tab {
  display: inline-block;
  /* float: left; */
  width: 40%;
  max-width: 400px;
  height: 100%;
}
/* 버튼 hover */
.snip1445 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 280px;
  /* max-width: 300px; */
  /* max-height: 150px; */
  margin: 0px;
  width: 100%;
  color: black;
  font-size: 16px;
  background-color: #0c6dfd00;
}
.snip1445 *,
.snip1445 *:before,
.snip1445 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.snip1445 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.snip1445 figcaption {
  position: absolute;
  bottom: 20px;
  /* left: 50%; */
  left: 20px;
  padding: 5px 10px 10px;
}
.snip1445 figcaption h2 {
  font-weight: 900;
  text-shadow: -2px 0 #f2f1f6, 0 2px #f2f1f6, 2px 0 #f2f1f6, 0 -2px #f2f1f6;
}
.snip1445 figcaption:before,
.snip1445 figcaption:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #0c6dfd;
}
.snip1445 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.snip1445 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.snip1445 figcaption div:before,
.snip1445 figcaption div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #0c6dfd;
}
.snip1445 figcaption div:before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.snip1445 figcaption div:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.snip1445 h2,
.snip1445 h4 {
  margin: 0;
  text-transform: uppercase;
}
.snip1445 h2 {
  text-align: left;
  font-weight: 400;
  margin-bottom: 3px;
}
.snip1445 h4 {
  display: block;
  font-weight: 700;
  background-color: #0c6dfd;
  padding: 5px 10px;
  color: #ffffff;
}
.snip1445 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1445:hover img,
.snip1445.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after,
.snip1445:hover figcaption div:before,
.snip1445.hover figcaption div:before,
.snip1445:hover figcaption div:after,
.snip1445.hover figcaption div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.block {
  /* display: inline-block; */
  float: right;
  width: 60%;
  min-width: calc(100%-280px);
  max-width: calc(100%-400px);
}
footer {
  width: 100%;
}
