* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  z-index: 1;
}
html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.input-group-text {
  width: 150px;
}
div {
  text-align: center;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.btn {
  border: none;
  border-radius: 5px;
}
.btn:hover {
  transition-property: all;
  /* transition-duration: 0.5s; */
  transition-timing-function: cubic-bezier(0.5, 5, 5, 0.5);
  /* -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #aaa;
  font-size: 3em;
  margin-top: 20px; */
}
#mainbtn {
  width: 100%;
}
.user-name {
  display: table;
  width: 100%;
  height: 150px;
  text-align: center;
  background-image: url(/test_gif.gif);
  text-shadow: -2px 0 #f2f1f6, 0 2px #f2f1f6, 2px 0 #f2f1f6, 0 -2px #f2f1f6;
  /* float: inline-start; */
}
.user-cell {
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.layout-wrap {
  margin: inherit;
  margin-top: 10%;
}
#join-form {
  /* width: 80%; */

  padding-left: 10%;
  padding-right: 10%;
}
.content {
  width: 100%;
}
p,
pre {
  font-size: 12pt;
}
.tab {
  display: inline-block;
  /* float: left; */
  width: 40%;
  max-width: 400px;
  height: 100%;
}
/* 버튼 nav */

body {
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 요소의 최소 너비 지정, height 속성 무시
    vh단위는 브라우저 안쪽 높이(window.innerHeight)을 기준으로
    설정된다. 하지만 태블릿이나, 모바일의 경우에는 뷰 포트에 따라
    맞춰짐*/
  min-height: 8vh;
  background-color: #504954;
  font-family: 'Poppins', sans-serif;
}

.logo {
  width: 60%;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  /* 각 글자 2px씩 간격을 줌*/
  letter-spacing: 2px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 8vh;
  right: 0;
  height: 92vh;
  background-color: #504954;
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
}

.nav-links li {
  list-style: none;
  opacity: 0;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15pt;
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#blogMenu {
  float: right;
  margin: 0px 5px 3px 5px;
  padding: 0 0 3px 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #5c5c5c;
}

#blogMenu ul li {
  float: left;
  list-style-type: none;
}

#blogMenu a {
  height: 16px;
  color: #f1f1f1;
  font-family: arial;
  font-size: 12px;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

#blogMenu a:hover {
  color: #d4f4fa;
  border-bottom: 3px solid #faed7d;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}
nav ul li a {
  position: relative;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}
nav ul li a:before,
nav ul li a:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a:hover:before,
nav ul li a:hover:after {
  transform: scale(1);
}

nav ul li a:nth-child(1)::before {
  background-color: yellow;
}

nav ul li a:nth-child(1)::after {
  background-color: red;
}

nav ul li a:before {
  top: 6px;
  left: -15px;
  width: 6px;
  height: 6px;
}

nav ul li a:after {
  top: 12px;
  left: -7px;
  width: 4px;
  height: 4px;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}

.block {
  /* display: inline-block; */
  float: right;
  width: 60%;
  min-width: calc(100%-280px);
  max-width: calc(100%-400px);
}

footer {
  width: 100%;
}

.test {
  font-size: 30pt;
}
video {
  width: 100%;
  height: 500px;
  object-fit: none;
}
