{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  {% if user %}
  <div>
    <form id="qna-form" action="/post" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <textarea id="qna" name="content" maxlength="140" wrap="physical" rows="4" onkeydown="return limitLines(this, event)" required></textarea>
      </div>

      <div>
        <button id="qna-btn" type="submit" class="btn btn-outline-primary">묻기</button>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="qnas">
    {% for qna in qnas %}
    <div class="qna">
      <input type="hidden" value="{{qna.User.id}}" class="qna-user-id" />

      <input type="hidden" value="{{qna.id}}" class="qna-id" />
      <div class="qna-author">{{qna.User.nick}}</div>
      <div class="qna-content">{{qna.content}}</div>
      {% if user.SM %}
      <form id="" action="" method="">
        <button id="btn" type="submit" class="btn btn-outline-primary">삭제</button>
      </form>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block script %}
<script>
  function limitLines(obj, e) {
    // 현재 textarea에 입력된 줄 수
    let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
    // textarea에 선언된 rows 수
    let maxRows = obj.rows;
    if (e.which === 13 && numberOfLines >= maxRows) {
      return false;
    }
  }
  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function (e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append('img', this.files[0]);
      axios
        .post('/post/img', formData)
        .then((res) => {
          document.getElementById('img-url').value = res.data.url;
          document.getElementById('img-preview').src = res.data.url;
          document.getElementById('img-preview').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
</script>
{% endblock %}
