{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="/content.css" />
{% endblock %}
{% block content %}
<div class="timeline">
  {% if user %}
  <a id="mainbtn" href="/write?page=1" class="mainbtn btn btn-outline-primary">글쓰기</a>
  {% if same %}
  <form
    id="qna-form"
    action="/del/title?page={{content.id}}&title={{content.title}}&content={{content.content}}"
    method="post"
    enctype="multipart/form-data"
  >
    <input id="my-id" name="qnaid" type="hidden" value="{{content.id}}" />

    <button id="mainbtn" type="submit" class="mainbtn btn btn-outline-primary">삭제</button>
  </form>
  {% else %}
  <!--  -->
  {%if user.SM %}
  <form
    id="qna-form"
    action="/del/title?page={{content.id}}&title={{content.title}}&content={{content.content}}"
    method="post"
    enctype="multipart/form-data"
  >
    <input id="my-id" name="qnaid" type="hidden" value="{{content.id}}" />

    <button id="mainbtn" type="submit" class="mainbtn btn btn-outline-primary">삭제</button>
  </form>
  {% endif %}
  <!--  -->
  {% endif %}
  <div class="qnas">
    <table class="table">
      <thead>
        <tr>
          <th class="col1" scope="col">
            <span>{{content.id}}</span>
          </th>
          <th class="col2"><span>제목: {{content.title}}</span></th>
          <!-- <th><span>글쓴이 id: {{content.User.id}}</span></th> -->
          <th class="col3"><span>글쓴이: {{content.User.nick}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td colspan="2"><p>
            {% for img in imgs %}
            <div>
              <img src="{{img}}" alt="섬네일">
            </div>
            {% endfor %}
            <pre>{{content.content}}</pre>
            </p></td>
        </tr>
        {% if answer %}
        <tr>
          <td >
            <p>대답한 운영자:{{answer.nick}}</p>
          </td>
          <td colspan="2">
            
            <span>대답:{{answer.content}}</span>
            {% if user.SM %}
            <form id="qna-form" action="/del/comment?asknum={{answer.asknum}}&page={{content.id}}" method="post" enctype="multipart/form-data">
              <button id="btn" type="submit" class="btn btn-outline-primary">대답 삭제</button>
            </form>
            {% endif %}
            <!--  -->
          </td>
        </tr>
        {% else %}
            <!--  -->
            {% if user.SM %}
            <tr>
              <td>
                <span>운영자</span>
              </td>
              <td colspan="4">
              

              <form id="qna-form" action="/post/sm?page={{content.id}}" method="post" enctype="multipart/form-data">
                <div class="input-group">
                  <textarea id="qna" name="answer" maxlength="140" wrap="physical" rows="4" onkeydown="return limitLines(this, event)" required></textarea>
                  <button id="btn" type="submit" class="btn btn-outline-primary">추가</button>
                </div>
              </form>
              </td>
            </tr>
            {% endif %}
        {% endif %}
      </tbody>
    </table>
    
  {% else %}
  <div>로그인 하셔야 합니다</div>
  {% endif %} {% endblock %} {% block script %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="./sequelize.js"></script> -->
  <script>
    function limitLines(obj, e) {
      // 현재 textarea에 입력된 줄 수
      let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
      // textarea에 선언된 rows 수
      let maxRows = obj.rows;
      if (e.which === 13 && numberOfLines >= maxRows) {
        return false;
      }
    }
  </script>
  {% endblock %}
</div>
