{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/prose.css" />
{% endblock %} {% block content %}
<form id="join-form">
  <div class="input-group">
    <h1>일본 현지학기제</h1>
    <label class="prose-content">
      <img class="mainImg" src="/japan_class.jpg" alt="일본 현지학기제" />
      <p class="caption">그림1:영진전문대학교 재학생들이 해외 취업의 꿈을 이룬 학생들을 축하하고 있다. [사진 제공 = 영진전문대]</p>
      &nbsp;&nbsp;&nbsp;"4년제 대학교 입학 직전까지, 또 입학 후에도 저는 제 자신의 미래에 불안감을 느꼈습니다. 당시의 저는 책을 통해 조금이라도 도움을
      얻고 싶었습니다. 그렇게 접한 책 중 한 권이 손정의 소프트뱅크 회장에 대한 것이었습니다. 이후 그 분의 프레젠테이션 영상을 봤습니다. 저는 그것을
      접하면서 굉장히 큰 충격을 받았습니다."
      <br />
      &nbsp;&nbsp;&nbsp;이준영 씨(25)는 서울 인문계고 출신이다. 그는 손 회장처럼 정보기술(IT) 업계에서 활약하고 싶다는 뜻이 있었다. 그러나 그 뜻을
      이루기 위해 대학 졸업장이 필요하다는 생각은 하지 않았다. 대학 입학 한 달 만에 학교를 그만두겠다고 마음먹고, 1학기가 지난 직후 바로 실천할 수
      있었던 까닭이다.
      <br />
      &nbsp;&nbsp;&nbsp;이씨는 자퇴 이후 자신이 무엇을 해야 하고, 또 그것을 어떻게 풀어갈지 고민했다. 일본 취업은 그 같은 고민의 산물이었다. 이후
      6년이 지난 2019년, 그는 소프트뱅크에 입사하며 꿈을 이뤘다. 마부작침(磨斧作針)의 노력이 통했던 것이다.
      <br />
      &nbsp;&nbsp;&nbsp;영진전문대학교가 재학생들의 해외 취업을 돕고 있다. 학교는 10년 전부터 해외취업특별반을 개설하고 지금까지 운영해왔다. 이씨 또한
      일본 IT 분야 진출을 목표로 2014년 영진전문대에 입학했다. 그는 일본IT기업주문반(컴퓨터정보계열, 3년제)에서 전공과 일본어 능력 향상에 집중했고, 그
      결과 JLPT N1에 여러 번 응시해 모두 만점을 받았다.
      <br />
      &nbsp;&nbsp;&nbsp;이씨는 "3학년 때 졸업프로젝트 팀 리더로 시행착오를 겪고, 해결하면서 결과를 달성해낸 점을 소프트뱅크에서 좋게 평가한 것 같다"고
      말했다.
      <br />
      &nbsp;&nbsp;&nbsp;일본 취업의 또 다른 주인공인 오윤정 씨(27·주피터텔레콤J:COM 합격) 역시 4년제 대학교에 입학했지만 마땅한 목표 없는 대학 생활이
      불안해 중도에 포기했다. 대신 그는 자신에게 맞는 일을 찾을 때까지 돈을 벌기로 하고 통신회사 상담직에 취업했다. 직장을 다니며 좋아하는 일과 하고
      싶은 일을 고민하던 그는 고교 때 학교를 찾아 일본 취업을 소개한 영진전문대에 입학하기로 했다. 오씨는 "영진전문대 일본취업반의 커리큘럼과 취업
      성공 사례를 듣고 2016년 늦깎이로 해외취업에 도전했다"고 밝혔다.
      <br />
      &nbsp;&nbsp;&nbsp;오씨에게 가장 의미 있었던 경험은 2학년 여름방학 중 후쿠오카에서 가진 6주간 현지학기제다. 그는 "현지학기제를 통해 일본 사회가
      IT를 이용한 특정 제품이나 서비스를 제공하는 것이 아닌 IT의 표준화된 환경 구축을 목표로 사회 전체에 적용해 사용자들이 더 쉽게 접하도록 하는
      모습을 볼 수 있었다"고 말했다.
      <br />
      &nbsp;&nbsp;&nbsp;경남 김해 출신인 강성은 씨(23) 또한 영진전문대를 통해 일본 기업에 취직할 수 있었다. 검정고시로 고등학교 과정을 마친 강씨는
      2016년 영진전문대에 입학했다. 학교 입학 후 전공도, 일본어도 처음 접한 그는 오전 7시 도서관에 도착해 9시 수업 전까지 자습을 하는 등 새내기 대학
      생활에 열정을 쏟았다. 그는 영진전문대에서 본인의 기초 역량을 향상시킬 기회도 가졌다. C언어, 자바(JAVA) 등 전공은 물론 영어 공부도 시작했다.
      <br />

      &nbsp;&nbsp;&nbsp;강씨는 "모를 때 할 수 있는 건 이해하는 게 아니라 외우는 것이라는 마음으로 전공도 일본어도 엄청나게 외웠다"며
      "일본IT기업주문반에 들어오면서도 반드시 일본에 취업할 생각은 없었지만, 자기 자신을 파고드는 자기 분석을 통해 일본 취업을 진지하게 고민했다"고
      밝혔다.
      <br />
      &nbsp;&nbsp;&nbsp;그 결과 강씨는 작년 하반기에 일본 기업 라쿠텐에 입사하게 됐다. 2018년 7월 대학을 찾은 라쿠텐 면접에 참여해 몇 차례 스카이프
      면접과 최종 영어 면접을 거쳐 8월에 채용 내정 통보를 받았다.
    </label>
    <label class="prose-center">
      <br />
      <br />
      <br />
      <br />
      <br />
      출처:&nbsp;
      <a href="https://www.mk.co.kr/news/special-edition/view/2019/03/133578/">https://www.mk.co.kr/news/special-edition/view/2019/03/133578/</a>
      <br />
      <br />
      <br />
    </label>
  </div>
</form>

{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
