{% extends 'layout.html' %} {% block content %}
<div class="yaho">
  <form id="join-form">
    <div class="input-group">
      <label>일본 이야기</label>
    </div>
  </form>
</div>

{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/sequelize.js"></script>
<!-- <script src="/sequelize.js"></script> -->
<script>
  function limitLines(obj, e) {
    let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
    let maxRows = obj.rows;
    if (e.which === 13 && numberOfLines >= maxRows) {
      return false;
    }
  }
</script>
{% endblock %}
