<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <a href="/"><img src="hsj.png" alt="" /></a>
    <div class="loginbox">
      <form id="login-form" action="/auth/join" method="post">
        <div class="input-group">
          <label class="input-group-text" for="join-userid">ID</label>
          <input class="form-control" id="join-userid" type="text" name="userid" required autofocus />
        </div>
        <div class="input-group">
          <label class="input-group-text" for="join-nick">닉네임</label>
          <input class="form-control" id="join-nick" type="text" name="nick" required />
        </div>
        <div class="input-group">
          <label class="input-group-text" for="join-password">비밀번호</label>
          <input class="form-control" id="join-password" type="password" name="password" required />
        </div>

        <button id="mainbtn" id="join-btn" type="submit" class="btn btn-outline-primary">회원가입</button>
      </form>
    </div>

    <footer class="another">
      <p>혹시 아이디가 있으신가요?</p>
      <a id="mainbtn" class="btn btn-outline-primary" aria-current="page" href="/login">로그인</a>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/sequelize.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert('이미 존재하는 이메일입니다.');
        }
      };
    </script>
  </body>
</html>
