{% extends 'empty-layout.html' %} {% block style %}
<link rel="stylesheet" href="/login.css" />
{% endblock %} {% block content %}

<div class="loginbox">
  <form id="login-form" action="/auth/join" method="post">
    <div class="input-group">
      <label class="input-group-text" for="join-userid">ID</label>
      <input class="form-control" id="joinid" type="text" name="userid" required autofocus />
    </div>
    <div class="input-group">
      <label class="input-group-text" for="join-nick">닉네임</label>
      <input class="form-control" id="joinnick" type="text" name="nick" required />
    </div>
    <div class="input-group">
      <label class="input-group-text" for="join-password">비밀번호</label>
      <input class="form-control" id="joinpwd" type="password" name="password" required />
    </div>

    <button id="joinbtn" type="submit" class="mainbtn btn btn-outline-primary">회원가입</button>
  </form>
</div>

<footer class="another">
  <p>혹시 아이디가 있으신가요?</p>
  <a class="mainbtn btn btn-outline-primary" aria-current="page" href="/login">로그인</a>
</footer>
{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/sequelize.js"></script>
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('loginError')) {
      alert(new URL(location.href).searchParams.get('loginError'));
    }
  };
</script>
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert('이미 존재하는 이메일입니다.');
    }
  };
</script>
{% endblock %}
