{% extends 'empty-layout.html' %} {% block style %}
<link rel="stylesheet" href="/login.css" />
{% endblock %} {% block content %}

<div class="loginbox">
  <!-- <form id="login-form" action="/auth/login" method="post"> -->
    <form id="login-form" action="" method="post"></form>
    <div class="input-group">
      <label class="input-group-text" for="userid">ID</label>
      <input id="loginid" class="form-control" type="id" name="userid" required autofocus />
      <!-- <textarea name="userid" cols="30" rows="1" class="form-control" id="loginid" type="id" required autofocus></textarea> -->
    </div>
    <div class="input-group">
      <label class="input-group-text" for="password">비밀번호</label>
      <input id="loginpwd" class="form-control" type="password" name="password" required />
    </div>
    <button id="loginbtn" class="mainbtn btn btn-outline-primary" id="login" type="submit">로그인</button>
  </form>
</div>

<footer class="another">
  <p>혹시 아이디가 없으신가요?</p>
  <a class="mainbtn btn btn-outline-primary" aria-current="page" href="/join">회원가입</a>
</footer>
{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('loginError')) {
      alert(new URL(location.href).searchParams.get('loginError'));
    }
  };
</script>
<script>
  document.getElementById('loginbtn').addEventListener('click', async (e) => {
    e.preventDefault();
    // alert('시작');
    try {
      const id = document.getElementById('loginid');
      const pwd = document.getElementById('loginpwd');
      const result = await axios.post('/auth/login', { userid: id.value, password: pwd.value });
      console.log(result.data);
      if (result.data == true) {
        document.location.href = '/?page=home';
      } else {
        alert(result.data);
      }
    } catch (err) {
      console.error(err);
    }
  });
</script>
{% endblock %}
