{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  {% if user %}
  <a id="mainbtn" href="/write?page={{page}}" class="btn btn-outline-primary">글쓰기</a>
  <div class="qnas">
    {% for qna in qnas %}

    <input type="hidden" value="{{qna.User.id}}" class="qna-user-id" />

    <input type="hidden" value="{{qna.id}}" class="qna-id" />
    <div class="qna-author">{{qna.User.nick}}</div>
    <a class="qna-content" href="/Content?page={{qna.id}}" name="qnacontent">{{qna.title}}</a>

    <!--  -->
    {% endfor %}
    <form id="login-form" action="/qna" method="GET">
      {% for cnt in count %}
      <!--  -->
      {% if cnt == page %}
      <p>{{cnt}}</p>
      {% else %} &nbsp<input class="btn btn-outline-primary" type="submit" id="qna-list" name="page" value="{{cnt}}" />&nbsp {% endif %}
      <!--  -->
      {% endfor %}
    </form>
  </div>
  {% else %}
  <div>로그인 하셔야 합니다</div>
  {% endif %}
</div>
{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="/sequelize.js"></script> -->
<script>
  function limitLines(obj, e) {
    // 현재 textarea에 입력된 줄 수
    let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
    // textarea에 선언된 rows 수
    let maxRows = obj.rows;
    if (e.which === 13 && numberOfLines >= maxRows) {
      return false;
    }
  }
  // function findScript(qna, ans){

  // }
</script>
{% endblock %}
