{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  {% if user %}
  <div>
    <form id="qna-form" action="/post" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <textarea id="qna" name="content" maxlength="140" wrap="physical" rows="4" onkeydown="return limitLines(this, event)" required></textarea>
      </div>

      <div>
        <button id="qna-btn" type="submit" class="btn btn-outline-primary">묻기</button>
      </div>
    </form>
  </div>

  <div class="qnas">
    {% for qna in qnas %}
    <div class="qna">
      <input type="hidden" value="{{qna.User.id}}" class="qna-user-id" />

      <input type="hidden" value="{{qna.id}}" class="qna-id" />
      <div class="qna-author">{{qna.User.nick}}</div>
      <div class="qna-content">{{qna.content}}</div>
      {% if user.SM %}
      <div class="input-group">
        <textarea id="qna" name="content" maxlength="140" wrap="physical" rows="4" onkeydown="return limitLines(this, event)" required></textarea>
      </div>

      <form id="qna-form" action="/del" method="post" enctype="multipart/form-data">
        <input id="my-id" name="qnaid" type="hidden" value="{{qna.id}}" />
        <button id="btn" type="submit" class="btn btn-outline-primary">삭제</button>
      </form>
      {% endif %}
    </div>

    {% endfor %}
    <form id="login-form" action="/qna" method="GET">
      {% for cnt in count %} &nbsp<input class="btn btn-outline-primary" type="submit" id="qna-list" name="page" value="{{cnt}}" />&nbsp {% endfor %}
    </form>
  </div>
  {% else %}
  <div>로그인 하셔야 합니다</div>
  {% endif %}
</div>
{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="/sequelize.js"></script> -->
<script>
  function limitLines(obj, e) {
    // 현재 textarea에 입력된 줄 수
    let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
    // textarea에 선언된 rows 수
    let maxRows = obj.rows;
    if (e.which === 13 && numberOfLines >= maxRows) {
      return false;
    }
  }
</script>
{% endblock %}
