{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/prose.css" />
{% endblock %} {% block content %}
<form id="join-form">
  <div class="input-group">
    <h1>안녕하십니까, WDJ 장현석 입니다.</h1>
    <p class="prose-content">
      <br />
      <img class="imgWithText" src="/hsj - cut.png" alt="자격증" />
      &nbsp;&nbsp;&nbsp;어릴적부터 자격증을 따는것을 좋아하여 다양한 자격증을 따기도 했습니다, ITQ 한글, 엑셀, 파워포인트, 문서실무사, 한자. 특히나
      한자를 좋아했기 때문에 초등학생때도 중학생때도 고등학교까지 한자를 하여 1급을 땄습니다. 그 덕분에 일본반을 대학 1학년 2학기에 들어왔음에도 다른
      학우들에게 처지지 않고 따라갈 수 있었습니다.
      <br />
      &nbsp;&nbsp;&nbsp;아버지가 자동화기계, 전기쪽으로 일을 하셨습니다. 이것이 프로그래밍을 해두면 자동으로 공장의 공정이 돌아가 제품을 만드는 그런
      방식이었습니다. 저는 이 프로그래밍을 하여 자신이 짠 방식대로 움직이는게 너무나 마음에 들어 그쪽으로 끌리게 됩니다. 때문에 고등학생 즈음되선
      기계쪽으로 공부하기 시작합니다. 저는 그때만해도 자동화 시스템이 기계쪽이니까 기계분야 공부를 하면 자동화 시스템은 할 줄 알게 될 것이란 생각을
      했습니다. 그 때문에 고등학교부터 기계관련 자격증을 따고 거기에 관련된 공부를 하여 군대가는 것을 대신하여 2017년 2월에 방위산업체를 이용해 직장에
      들어가는 방식을 택하게 됩니다. 거기에서 자동화된 시스템을 짤것이라 생각했지만 현실은 자동화 시스템이 관련된 기계, 설비일을 하는 것이었습니다.
      제가 바랬던 것은 자동으로 돌아가는 기계공정에 쓰이는 기계의 자동적인 움직임 따위를 시스템, 프로그램쪽으로 일 하는 것이었는데 프로그래밍쪽이 아닌
      그냥 기계, 설비쪽일만 하는것에 실망한 저는 군대 2년만 채우고 나서 나오게 됩니다.
      <br />
      <video src="/bk.mp4" controls preload="auto"></video>&nbsp;&nbsp;&nbsp;2019년 2월, 군대를 끝마치고나서 저는 고민을 하게 됩니다. 기계쪽으로
      가는것이 내가 바란쪽이 아니다. 배우고 일한 2년이 있지만 나는 내가 더 바랬던 프로그래밍 하는 쪽으로 가고싶다. 그래서 컴퓨터 프로그래밍은 어떻게
      들어갈 수 있는지 생각해보다. 어릴적부터 TV를 틀면 대구방송 광고에 영진전문대학이 문득 떠올랐습니다. 그 영진전문대학은 최근까지도 광고를 내보내고
      있으니 내가 생각하는 학과, 계열이 있겠다 싶어 찾아봤더니 있었고 수능을 쳐서 2020년 영진전문대학 컴퓨터정보계열 특수영상예비반에 들어오게 됩니다.
      해당 반은 영상위주로 공부하고 거기관련된 곳으로 취업하는 그런 반이었습니다. 1학기에 들어와 해당 과에서 대표도 하는 등 발만 담그어보지만 해당
      과가 제 뜻과는 또 맞지않고 담당교수님도 일본반에 들어가면 공부도 더 많이 할 수 있고 일본쪽 취업도 되니 그쪽도 더 좋다는 소개에 일본반을
      알게되었고 내가 좋아서 공부한 한자도 있겠다 1학기 여름방학에 전과를 하게 됩니다. 여름방학 들어가면서 바로 특강을 시작하고 히라가나 카타카나도
      모르는 채로 특강을 듣기 시작합니다. 하지만 특강하시는 담당교수님의 도움과 밤낮 불사르며 공부한 저의 노력 끝에 특강과 2학기를 소화해내고 2020년
      12월 JLPT N3를 합격하게 됩니다.
      <br />
      <br />
      <br />
      <br />
      &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dolores delectus voluptates enim nemo quod sequi incidunt
      quisquam tempora culpa quasi sunt laudantium illum, dolorum neque molestiae natus officia tenetur. Rem qui, non eius dolorem ratione alias iusto
      atque placeat amet maxime nobis, eligendi architecto aliquid aliquam quasi vero? Natus velit quae ad, impedit accusamus ratione aliquam
      architecto voluptatem, voluptates provident quaerat quos expedita at cupiditate, repellendus obcaecati in doloribus repudiandae libero. Animi
      nulla deleniti nostrum magnam sint temporibus voluptates doloribus nihil labore qui? Perspiciatis, nostrum tempore labore cum ex delectus
      officiis natus cumque beatae explicabo dignissimos odit amet vero quia sunt, libero distinctio nisi nihil nesciunt, voluptatibus quidem.
      Recusandae iure consequatur obcaecati dolores! Explicabo tenetur blanditiis doloribus corrupti cumque. Doloribus porro, reiciendis fugit facilis
      ea sunt? Ut magni sed non facere minima repellendus consectetur nam excepturi rerum reiciendis aspernatur nobis aliquid consequuntur vero, vel
      corrupti numquam fugiat cupiditate voluptas dignissimos dolorum, placeat et. Corporis quasi assumenda aliquam incidunt amet reprehenderit dolor
      voluptatum nostrum nihil, delectus magni ad. Voluptas cumque quam nihil, ullam dolorum neque praesentium quod sequi doloribus excepturi
      sapiente? Labore amet beatae ab consectetur doloribus laudantium magnam quaerat fugiat voluptatibus nulla dolor, rerum, officiis explicabo,
      aperiam voluptatem. Optio, ipsam. Nesciunt tempore laborum, fugit temporibus, praesentium, eveniet reiciendis atque debitis harum at porro! Vero
      a officiis consectetur quod doloremque distinctio aperiam, illum eius vitae, temporibus eos quas quo sapiente. Animi perspiciatis, quod, totam
      numquam sapiente dolorum autem laudantium quam doloremque ipsa deleniti error, assumenda cupiditate est ea. Rerum velit ea ipsam voluptas
      possimus nam suscipit laudantium laborum excepturi beatae doloremque ipsum praesentium obcaecati, quos nesciunt sint minima temporibus dolorem
      alias deleniti inventore tempora iusto porro? Dignissimos, fugit minima. Dignissimos quisquam praesentium vero voluptas? Similique possimus
      veritatis et, pariatur non dignissimos est blanditiis magni dolorem sunt unde asperiores cupiditate dolores nostrum voluptatum eveniet quidem
      placeat doloribus, impedit, tenetur exercitationem! Iusto ipsam harum cupiditate iste at neque sint! Numquam incidunt sit assumenda
      necessitatibus provident rerum temporibus, modi odit nobis veniam eaque quia, quidem voluptatem cum expedita fugit quae doloremque nostrum quis
      labore corrupti quam neque! Dolore sit reprehenderit, fugit veniam placeat quam ullam minus itaque vel. Repellendus optio quam provident
      exercitationem, quasi nam! Animi fugiat asperiores dolores illum, similique esse voluptates repellat laboriosam voluptatibus recusandae odit nam
      expedita minus distinctio enim laborum hic porro maiores nemo voluptas ullam a? Suscipit veritatis explicabo ab perspiciatis eius tempore omnis
      ullam labore praesentium iure a corrupti illo, voluptate mollitia iste officiis amet optio quasi! Vel repudiandae nesciunt soluta quisquam
      laborum aliquid natus animi. Odio optio cum sunt vel saepe eos, ab animi consectetur, nisi id perspiciatis, assumenda temporibus sequi!
      Consequatur magni quae voluptatem, exercitationem officia laudantium laborum nostrum consequuntur atque tempora harum repellendus? Corrupti nemo
      culpa adipisci laudantium excepturi minus vel ut aspernatur illo molestiae commodi, quas laborum, odio, dolorum fugiat perspiciatis eveniet
      vitae explicabo obcaecati eius! Magni itaque obcaecati facilis eaque a. Voluptates, molestiae. Error non ipsam inventore eveniet eum ad
      temporibus nam impedit, eligendi enim voluptates deleniti distinctio quasi fugit consequatur pariatur.
    </p>
  </div>
</form>

{% endblock %} {% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/sequelize.js"></script>
<!-- <script src="/sequelize.js"></script> -->
<script>
  function limitLines(obj, e) {
    let numberOfLines = (obj.value.match(/\n/g) || []).length + 1;
    let maxRows = obj.rows;
    if (e.which === 13 && numberOfLines >= maxRows) {
      return false;
    }
  }
</script>

{% endblock %}
